<!DOCTYPE html>
<html>

    <head>
        <link rel="icon" href="/img/weather.png">
        <title>About</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>

        <div>
            {{>header}}
            <p>This website was created by Joseph Mutua and uses MapBox and Open WeatherAPIs for geolocation and weather forecast respectively</p>
            <img class="portrait" src="/img/weatherstack-forecast.gif">
            <p>Created by {{name}}</p>
        </div>

        {{>footer}}
    </body>

</html>
